/*Universal Styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica;
    color: saddlebrown;
}
a{
    color:inherit;
    text-decoration: none;
}
/*Header Styles*/
header{
    display: flex;
    position: fixed;
    z-index: 1;
    height: 100px;
    width:100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: wheat;
    border-bottom: 3px solid saddlebrown;
    
}

header .logo-credit:hover{
    color: white;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
}

header .logo-credit:hover a{
    color: goldenrod;
}

header .logo-credit a:hover{
    color: gold;
}

header .logo-credit{
    display: inline-flex;
    align-items:center;
    text-align: center;
    min-width: 75px;
    min-height: 75px;
    width: 75px;
    height: 75px;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    color: transparent;
    background-color: transparent;
    background-image: url("resources/image-dog-sad.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 3px saddlebrown;
    font-size: 10px;
    z-index:2;
}

header nav{
    display: flex;
    width: 100%;
    justify-content: center;
}
header nav ul{
    width: 100%;
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    justify-content: space-around;
    
    flex-wrap: wrap;
}
header nav ul li{
    display: inline;
    text-align: center;
    
}
header nav ul li a{
    display: block;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    background-color: sandybrown;
    border-radius: 10px;
    border: 2px solid saddlebrown;
    box-shadow: 1px 1px 3px saddlebrown;
}
header nav ul li a:hover{
    background-color: saddlebrown;
    color: sandybrown;
    border: 2px solid sandybrown;
    box-shadow: -1px -1px 3px saddlebrown;
    text-decoration: underline;
}
@media only screen and (max-width: 700px){
    header .logo-credit{
        display: none;
    }
    header nav ul{
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        
    }
    header nav ul li a{
        font-size: 18px;
        margin: 5px;
        padding: 5px;
    }
}

/* Banner */

.banner{
    display: inline-flex;
    position: static;
    align-content: center;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-top: 100px;
    padding: 5%;
    background-image: url("resources/image-dog-companion.jpg");
    background-size: auto;
    background-position: bottom 27% left 25% ;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 10px solid sandybrown;
}
.banner h1{
    margin: 5%;
    padding: 5%;
    display: inline-block;
    background-color: rgba(245, 222, 179, 0.25);
    border-radius: 50%;
}
.banner .extra{
    display: none;
    width: 33%;
    background-color: rgba(245, 222, 179, 0.25);
    border-radius: 10px;
    padding: 50px 25px;
    margin-left: 10%;
    text-align: center;
}
.banner-photo-credit{
    background-color: wheat;
    font-weight: 500;
    font-size: 10px;
    padding:2px;
    border-bottom: 1px solid saddlebrown;

}
.banner-photo-credit a{
    color: goldenrod;

}
.banner-photo-credit a:hover{
    color:darkgoldenrod;

}
@media only screen and (max-width: 700px){
    .banner h1{
        margin: 10%;
        font-size: 30px;
    }
    .banner{
        background-position: bottom 27% center ;
    }
}
@media only screen and (min-width: 1100px){
    .banner{
        justify-content: flex-start;
    }
}
@media only screen and (min-width: 1350px){
    .banner {
        justify-content: space-between;
    }
    .banner .extra {
        display: inline-block;
    }
}

/*Mission*/
.mission-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}
#mission{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 90%;
    background-color: sandybrown;    
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}
#mission h3{
    font-size: 32px;
    text-decoration: underline;
}
#mission p{
    display: inline-block;
    text-align: justify;
    max-width: 90%;
    line-height: 1.5em;
}

/* Featured Pets */
#featured{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: wheat;
    
}
#featured h3{
    display: inline-flex;
    justify-content: center;
}
#featured h3, .info h4{
    font-size: 48px;
}
.featured-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: wheat;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    color: transparent;
    background-color: transparent;
}
.info:hover{
    color: white;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;    
}
#featured a{
    color: goldenrod;
}
#featured a:hover{
    color: darkgoldenrod;

}
.featured-1, .featured-2, .featured-3{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    padding: 5px;
}

.featured-1 .info{
    margin: 10px;
    background-image: url("resources/featured-pet-1.jpg");
}
.featured-2 .info{
    margin: 10px;
    background-image: url("resources/featured-pet-2.jpg");
}
.featured-3 .info{
    margin: 10px;
    background-image: url("resources/featured-pet-3.jpg");
}